<% provide(:title, 'More About Webmarks') %>
<h1>About</h1>

Designed and developed by <%= user_path_by_email('gogromat@gmail.com') %>

<p>
  <i>* Based on Michael Hartl's <a href="http://ruby.railstutorial.org/">Ruby on Rails Tutorial</a></i>
</p>
