<% if @user_linkage.any? %>
    <div class="sortable row">
        <%= render partial: 'linkages/linkage_item', collection: @user_linkage %>
        <%= render 'links/link_empty' %>
    </div>
<% end %>