<% if !link.linker.nil? %>
<li>
  <a href="<%= url_with_protocol link.uri %>"
     style="background: url('<%= link.favicon.url %>') left center no-repeat;background-size: 16px 16px;padding-left: 20px;"
     target="_blank"><%= link.content %></a>
  <span class="fr">Used by <%= pluralize(link.linker, "user")%> </span>
  <%#= image_tag link.favicon.url, size: "16x16"  %>
</li>
<% end %>