// Twitter Bootstrap
@import "bootstrap";

body {
    padding-top: 60px;
}

// Responsive Twitter Bootstrap
@import "bootstrap-responsive";

// Mixins, vars, etc.

$grayMediumLight: #eaeaea;
$red: #bd362f;

// IE box model
@mixin box_sizing {
  -moz-box-sizing:      border-box;
  -webkit-box-sizing:   border-box;
  box-sizing:           border-box;
}
// * {
//    -moz-box-sizing: border-box;
//    -webkit-box-sizing: border-box;
//    box-sizing: border-box;
//}

// Universal
html {
  overflow-y:       scroll;
}

section {
  overflow:         auto;
}

textarea {
  resize:           vertical;
}

.center {
  text-align:       center;
  h1 {
    margin-bottom:  10px;
  }
}

// Typography

h1, h2, h3, h4, h5, h6 {
  line-height:      1;
}

h1 {
  font-size:        3em;
  letter-spacing:   -2px;
  margin-bottom:    30px;
  text-align:       center;
}

h2 {
  font-size:        1.7em;
  letter-spacing:   -1px;
  margin-bottom:    30px;
  text-align:       center;
  font-weight:      normal;
  color:            $grayLight;
}

p {
  font-size:        1.1em;
  line-height:      1.7em;
}

.tl { text-align: left }
.tr { text-align: right }
.tc { text-align: center }
.fl { float: left }
.fr { float: right }

// Logo
#logo {
	
	float: 		  	left;
	margin-right: 	10px;
	
	color:			#fff;
	
	font-size: 		1.6em;
	letter-spacing: +1px;
	font-weight: 	bold;
	
	&:hover {
		color:			 gray;
		text-decoration: none;
	}
}

// Buttons

//https://github.com/twitter/bootstrap/issues/3775
.btn-danger-text {
  color: $red;
}
.btn-danger-text:hover,
.btn-danger-text:active,
.btn-danger-text.active,
.btn-danger-text.disabled,
.btn-danger-text[disabled] {
  color: $red;
  *color: #a9302a;
}
.btn-danger-text:active,
.btn-danger-text.active {
  color: #942a25 \9;
}

// Miscellaneous

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// Gravatar

.gravatar {
  float: left;
  margin-right: 10px;
}

.user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
        margin: 1px 1px;
    }
}

// users index

.paginate {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

// Sidebar

aside {
  section {
    padding:          10px 0;
    border-top:       1px solid $grayLighter;
    &:first-child {
      border:         0;
      padding-top:    0;
    }
    span {
      display:        block;
      margin-bottom:  3px;
      line-height:    1;
    }
    h1 {
      font-size:      1.6em;
      text-align:     left;
      letter-spacing: -1px;
      margin-bottom:  3px;
    }
  }
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.stats {
    overflow: auto;
    a {
        float: left;
        margin: 1px 1px;
        padding: 0 10px;
        border-left: 1px solid $grayLighter;
        color: gray;
        &:first-child {
            padding-left: 1;
            border: 0;
        }
        &:hover {
            text-decoration: none;
            color: $blue;
        }
    }
    strong {
        display: block;
    }
}

// Footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
        float: left;
        margin-left: 10px;
      }
  }
}

// Forms

input, textarea, select, .uneditable-input {
  border:         1px solid #bbb;
  width:          100%;
  padding:        10px;
  height:         auto;
  margin-bottom:  15px;
  //@include        box_sizing;
}

#error_explanation {
  color: $red;
  ul {
    list-style: none;
    margin:     0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

// Sortable

.sortable {
    margin: 10px 10px 0 0;
}

.sortElement {
    margin:         15px 15px 15px 15px;
    padding:        1px;
    height:         150px;
    border-radius:  0px  10px;
    //float: left;
    //width: 100px;
    //font-size: 4em;
    //text-align: center;
}


#empty_link {
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
}