<!DOCTYPE html>
<html>
	<head>
		<title>Webmarks</title>
		<%= stylesheet_link_tag    "application", :media => "all", cache: true %>
		<%= javascript_include_tag "application", cache: true %>
		<%= csrf_meta_tags %>
		
	</head>
<body>

	<%= yield %>

</body>
</html>
